body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header {
    background-color: rgb(54, 80, 166);
    color: white;
    text-align: center;
}

header span {
    display: block;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(59, 54, 54);
    padding: 10px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}


main {
    max-width: 800px;
    display: grid;
    margin: 10px auto;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}


main h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card ul {
    margin-top: auto;
    margin-bottom: auto;
}

.card a {
    line-height: 1.5;
}

.card h2 {
    background-color: rgb(54, 80, 166);
    color: white;
    text-align: center;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p {
    padding: 1rem;
    margin: auto;
    line-height: 1.5;
}

.content {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.content img {
    max-width: 200px;
    height: auto;
}



footer {
    background-color: rgb(54, 80, 166);
    color: white;
    text-align: center;
    padding: 5px;
}